{{ template "header" }}
<main class="flex-grow">
  <h1 class="p-4 text-4xl semibold tracking-tight">FAQ Page</h1>

  {{ range . }}
  {{ template "qa" .}}
  {{ end }}

  {{ define "qa" }}
  <div class="border-b-2 p-4">
    <h2 class="pt-4 semibold">{{ .Question }}</h2>
    <p class="pb-2">{{ .Answer }}</p>
  </div>
</main>

{{ end }}
{{ template "footer"}}
