{{ template "header" .}}
<h1>Welcome to my awesome site !</h1>

<nav>
  <ul class="p-4">
    <li><a href="/contact">Contact page</a></li>
    <li><a href="/faq">FAQ page</a></li>
    <li><a href="/aboutus">About us page</a></li>
  </ul>
</nav>

{{ template "footer" .}}
